.App {
  text-align: left;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;

}

.container {
  height: 300px,
  width: 100%;
}

 .App-header {
  background-color: #363636;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.center-navbar {
  text-align: center;
}
.center-navbar .navbar {
  display: inline-block;
}
.center-navbar .navbar .container {
  width: 100%;
} 
